h1,h2,h3,h4,h5,h6{
	margin:0;
}

p{
	color: #fff;
}

.bg-romeo{
	padding:5px;
	
}

.list h5{
	margin: 0;
}

.img-fluid{
	max-width: 100%;
	display: block;
}
.coffee .card-header{
	padding:0;
}
.card.menu{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	}
.pulseras{
	background-image: url("../img/asdasda.jpg");
	height: 230px;
}

.fotop{
	width: 40px;
}

.img perfil{
	width: 4px;
}

.rola1{
	width: 70px;
}

.item-title{
	color: black;
}

.item-subtitle{
	color:black;
}

.card-content{
	padding-bottom: 3px;
	padding-bottom: 3px;
}

.menu .card-content{
	padding: 5px 0; 
}
.menu h4{
	margin: 0;
	font-size: 20px;
}
.pulseras p{
	
	margin: 0;
	font-size: 12px;
}
.pulseras a{
	color:#ffffff;
}
.pulseras .card-content{
	padding: 10px;
	text-align: center;
	
}
.pulseras h3{
	font-size: 16px;
	color: #2D2D2D;
	margin-bottom: 0;
}
.pulseras h4{
	font-size: 80px;
	color: #FFFFFF;
	text-align: center;
	}
.pulseras p{
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 600;
	
}
.product{
	color:#2d2d2d;
	font-size: 16px;
	font-weight: 600;
}
.price{
	color:#0C9F67;
	font-size: 16px;
	font-weight: 600;
}
.button-green{
	background-color:#0C9F67 !important;
}

.choco-frappe{
	padding: 40px 0;
	
}

.precio {
	color: #132D01;
	font-size: 10px;
}

.descripcion {
	font-size: 14px;
}
.logo{
	width: 90px;
}


.accesorios{
	font-size: 20px;
}

.contentQS1 i{
	float: left;
}

.contentQS2 i{
	float: right;
}

.contentQS3 i{
	float: left;
}

.page-content{
	background-color: #fff;
	color: #FFFFFF;
}


.mapa{
	width: 380px;
}

.contact1{
	float: left;
}f

.contact2{
	float: left;
}

.contact3{
	float: left;
}





